PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/event-photo-gallery
JWT_SECRET=super_secret_jwt_key_firstcry_intellitots

# Cloudinary Credentials (Optional - Falls back to local uploads if empty)
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
